<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Rovi Farmacias{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1020">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('FrontendBundle/css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontendBundle/css/main.css') }}">
        <!-- Este css se tiene que mostrar solamente en la home (el único sitio dónde hay slide hasta el momento) -->
        <link rel="stylesheet" href="css/jquery.bxslider.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script src="js/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">Estás utilizando un navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/">actualiza</a> tu navegador.</p>
<![endif]-->

{% block body %}{% endblock %}

<aside class="row">
    <a href="#">
        <img src="images/productos/banner-exxiv.jpg" width="999" height="121" alt="">
    </a>
</aside>

</div><!-- .wrapper -->
</div><!-- #main-container -->

<footer id="footer">
    <div class="wrapper">
        <a href="http://www.rovi.es/" target="_blank"><img src="images/logo-footer.png" alt="Farmacias Rovi"></a>
        <div class="meta">
            <p>©. Todos los derechos reservados.</p>
            <a href="">Aviso Legal</a>
            <a href="">Política de Privacidad</a>
        </div><!-- .meta -->
    </div>
</footer><!-- #footer -->
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                mode: 'fade',
                controls: false
            });
        });
    </script>
{% endblock %}
</body>
</html>