{% extends "RoviFrontendBundle::layout.html.twig" %}

{% block body %}
    <header id="header" class="wrapper-wide">
            <div id="header-top">
                <div class="user-access">
                    <p><a href="#">Antonio González</a></p>
                    <div>
                        <a href="#">Mi perfil</a>
                        <a href="#">Cerrar sesión</a>
                    </div>
                </div><!-- .user-access -->
                <nav>
                    <ul>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Mapa Web</a></li>
                        <li><a href="">Enlaces</a></li>
                        <li class="search"><a href="">Buscador</a></li>
                    </ul>
                </nav>                
            </div><!-- #header-top -->

            <div class="main-header white">
                <h1 class="title">Rovi Farmacias</h1>
                <a href="index.html"><img src="images/logo.png" width="146" height="66" alt="Logo Rovi Farmacias" /></a>
                <nav class="">
                    <a href="vytorin.html">Vytorin</a>
                    <a href="producto.html">Exxiv</a>
                    <a href="thymanax.html">Thymanax</a>
                    <a href="formacion.html">Formación</a>
                    <a href="experiencias.html">Experiencias</a>    
                </nav>
            </div>

        </header><!-- #header -->

        <div id="main-container">
            <div id="home-slide" class="wrapper-wide">
                <ul class="bxslider">
                    <li>
                        <img src="images/slide1.jpg" />
                        <div class="caption">
                            <h2>Sum, solor as adi voluptur?</h2>
                            <p>Obiti sequundit moluptur ant odi vendae verciissint poreptati bererum et ea volor seque omnis modit hilique ma quunti rendelendae 
                            es nus volupiendunt omni abor molorem volorei usamus</p>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide1.jpg" />
                        <div class="caption">
                            <h2>Sum, solor as adi voluptur?</h2>
                            <p>Obiti sequundit moluptur ant odi vendae verciissint poreptati bererum et ea volor seque omnis modit hilique ma quunti rendelendae 
                            es nus volupiendunt omni abor molorem volorei usamus</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .wrapper-wide -->
            <div class="wrapper">
                
                <section class="row home-products">
                    <article>
                        <div class="block-content vytorin-homeblock">
                            <img src="images/productos/logo-vytorin.png" width="" height="" alt="" />
                            <p>Obiti sequundit moluptur <a href>ant</a> odi vendae verciissint poreptati bererum et ea volor seque omnis modit hilique ma quunti</p>
                        </div><!-- .block-content -->
                        <div class="block-links">
                            <a href="#"><span>Información de Producto</span></a>
                            <a href="#"><span>Hipercolesterolemia</span></a>
                            <a href="#"><span>Herramientas</span></a>
                        </div><!-- .block-links -->
                    </article>
                    <article>
                        <div class="block-content exxiv-homeblock">
                            <img src="images/productos/logo-exxiv.png" width="" height="" alt="" />
                            <p>Obiti sequundit moluptur ant odi vendae verciissint poreptati bererum et ea volor seque omnis modit hilique ma quunti</p>
                        </div><!-- .block-content -->
                        <div class="block-links">
                            <a href="#"><span>Información de Producto</span></a>
                            <a href="#"><span>Artritis Reumatoide, Artrosis y Espondilitis Anquilosante</span></a>
                            <a href="#"><span>Herramientas</span></a>
                        </div><!-- .block-links -->
                    </article>
                    <article>
                        <div class="block-content thymanax-homeblock">
                            <img src="images/productos/logo-thymanax.png" width="" height="" alt="" />
                            <p>Obiti sequundit moluptur ant odi vendae verciissint poreptati bererum et ea volor seque omnis modit hilique ma quunti</p>
                        </div><!-- .block-content -->
                        <div class="block-links">
                            <a href="#"><span>Información de Producto</span></a>
                            <a href="#"><span>Depresión</span></a>
                            <a href="#"><span>Herramientas</span></a>
                       </div><!-- .block-links -->
                    </article>
                </section>

                <section class="row home-b-links">
                    <article>
                        <h3>Formación</h3>
                        <img src="images/logo-formacion.png" width="" height="" alt="" />
                        <div>
                            <h4 class="">Psicología aplicada a la venta en Oficina de Farmacia</h4>
                            <a href="#">Acceder a la sección</a>
                        </div>
                    </article>
                    <article>
                        <h3>Experiencias</h3>
                        <img src="images/logo-experiencias.png" width="" height="" alt="" />
                        <div>
                            <p>Obiti sequundit moluptur ant odi vendae verciissint poreptati bererum et ea volor seque omnis modit hilique ma quunti rendelendae es </p>
                            <a href="#">Acceder a la sección</a>
                        </div>
                    </article>
                </section><!-- .home-b-links -->
{% endblock %}
