html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 62.5%;
  line-height: 1.4;
  background-color: #f1f1f1;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #78c8ca;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* @Font-face rules */

@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,500,500italic,700italic,900,900italic");

@font-face {
  font-family: 'Aaux ProRegular';
  src: url("../fonts/AauxProRegular.eot");
  src: url("../fonts/AauxProRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/AauxProRegular.woff") format('woff'), url("../fonts/AauxProRegular.ttf") format('truetype'), url("../fonts/AauxProRegular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aaux ProLight';
  src: url("../fonts/AauxProLight.eot");
  src: url("../fonts/AauxProLight.eot?#iefix") format('embedded-opentype'), url("../fonts/AauxProLight.woff") format('woff'), url("../fonts/AauxProLight.ttf") format('truetype'), url("../fonts/AauxProLight.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aaux ProBold';
  src: url("../fonts/AauxProBold.eot");
  src: url("../fonts/AauxProBold.eot?#iefix") format('embedded-opentype'), url("../fonts/AauxProBold.woff") format('woff'), url("../fonts/AauxProBold.ttf") format('truetype'), url("../fonts/AauxProBold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aaux ProBlack';
  src: url("../fonts/AauxProBlack.eot");
  src: url("../fonts/AauxProBlack.eot?#iefix") format('embedded-opentype'), url("../fonts/AauxProBlack.woff") format('woff'), url("../fonts/AauxProBlack.ttf") format('truetype'), url("../fonts/AauxProBlack.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* End of @Font-face rules*/

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper-wide {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  overflow: hidden;
  margin: 3em 0;
}

.off-row {
  overflow: hidden;
}

.board-row {
  margin-bottom: 0;
}

.content {
  padding: 0 2%;
}

.white {
  background-color: #fff;
}

/*
-------------------------------------- */

/* Header styles */

#header-top {
  background-color: #656464;
  overflow: hidden;
  height: 40px;
}

#header-top nav {
  float: right;
  margin-top: 1.1em;
}

#header-top nav ul {
  margin: 0;
  padding: 0;
}

#header-top nav ul li {
  font: 400 1em 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-left: 13px;
}

#header-top nav ul li:before {
  content: "·";
  position: absolute;
  left: -11px;
}

#header-top nav ul li:first-child:before {
  content: "";
}

#header-top nav ul li a {
  text-decoration: none;
  color: #fff;
}

#header-top nav ul li a:hover {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

#header-top nav ul .search {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 3px double #fff;
}

#header-top nav ul .search:before {
  content: "";
}

.user-access {
  float: right;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #06909a), color-stop(1, #3eb1b3));
  background: -webkit-linear-gradient(left, #06909a 0%, #3eb1b3 100%);
  background: -webkit-gradient(linear, top left, top right, from(#06909a), to(#3eb1b3));
  background: linear-gradient(left, #06909a 0%, #3eb1b3 100%);
  overflow: hidden;
  text-align: center;
  min-width: 164px;
  height: 40px;
  margin-left: 5%;
  padding: 0 2%;
}

.user-access p {
  margin: 0;
  padding-top: 0.2em;
  font: normal 1.3em 'Aaux ProRegular', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.user-access p a {
  color: #fff;
  text-decoration: none;
}

.user-access div a {
  text-decoration: none;
  color: #fff;
  font: 300 0.9em 'Roboto', sans-serif;
  position: relative;
  margin-right: 10px;
}

.user-access div a:after {
  content: "·";
  position: absolute;
  right: -8px;
  top: 1px;
}

.user-access div a:last-child:after {
  content: "";
}

.user-access div a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.main-header {
  position: relative;
  height: 75px;
}

.main-header h1 {
  position: absolute;
  top: -500px;
}

.main-header img {
  margin: 0.5em 0 0 12%;
}

.main-header nav {
  float: right;
}

.main-header nav a {
  float: left;
  display: block;
  height: 21px;
  padding: 27px 1.5em;
  font: 1.4em 'Aaux ProRegular', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #656464;
  border-left: 1px solid #c1c1c1;
}

.main-header nav a:hover {
  background-color: #f7fafa;
}

.main-header nav a.active {
  font-family: 'Aaux ProBlack', sans-serif;
  color: #008b7d;
}

/*
-------------------------------------- */

.bxslider {
  margin: 0;
  padding: 0;
}

.bxslider li {
  position: relative;
}

.bxslider li .caption {
  position: absolute;
  left: 15px;
  bottom: 15px;
  max-width: 320px;
}

.bxslider li .caption h2 {
  font: 2.1em 'Aaux ProRegular', sans-serif;
  color: #008b7d;
  margin: 0;
  text-transform: uppercase;
}

.bxslider li .caption p {
  font: 300 1.3em 'Roboto', sans-serif;
  color: #5a5a5e;
  margin: 0;
}

/* Home */

.home-products {
  margin-top: 1em;
}

.home-products article {
  float: left;
  width: 29%;
  height: 272px;
  margin: 10px 0 0 6.5%;
  background-color: #fff;
  position: relative;
}

.home-products article:before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #3eb1b3), color-stop(1, #06909a));
  background: -webkit-linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  background: -webkit-gradient(linear, top left, top right, from(#3eb1b3), to(#06909a));
  background: linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  height: 10px;
  top: -10px;
}

.home-products article:first-child {
  margin-left: 0;
}

.home-products article:nth-child(2) a:nth-child(2) {
  padding-top: 0.4em !important;
  height: 39px;
}

.home-products article:nth-child(2) a:nth-child(2) span:after {
  top: 15px;
  right: 10px;
}

.home-products article .block-content {
  padding: 1em 2em;
  background-repeat: no-repeat;
  background-position: 110% bottom;
}

.home-products article .block-content p {
  font: 300 1.2em 'Roboto', sans-serif;
  color: #5a5a5e;
  max-width: 70%;
}

.home-products article .block-content p a {
  text-decoration: none;
  color: #3eb1b3;
}

.home-products article .block-content.vytorin-homeblock {
  background-image: url("../images/productos/bg-vytorin-block.png");
}

.home-products article .block-content.exxiv-homeblock {
  background-image: url("../images/productos/bg-exxiv-block.png");
}

.home-products article .block-content.thymanax-homeblock {
  background-image: url("../images/productos/bg-thymanax-block.png");
}

.block-links {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
}

.block-links a {
  display: block;
  width: 95%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(62,177,179,0.3)), color-stop(1, rgba(6,144,154,0.4)));
  background: -webkit-linear-gradient(left, rgba(62,177,179,0.3) 0%, rgba(6,144,154,0.4) 100%);
  background: -webkit-gradient(linear, top left, top right, from(rgba(62,177,179,0.3)), to(rgba(6,144,154,0.4)));
  background: linear-gradient(left, rgba(62,177,179,0.3) 0%, rgba(6,144,154,0.4) 100%);
  color: #656464;
  text-decoration: none;
  text-transform: uppercase;
  font: 1.55em 'Aaux ProLight', sans-serif;
  margin-bottom: 0.5em;
  padding: 0.2em 0 0.2em 5%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.block-links a:hover {
  background-color: rgba(6,144,154,0.3);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.block-links a:nth-child(2) {
  height: 30px;
  padding-top: 15px;
}

.block-links a span {
  position: relative;
  display: inline-block;
}

.block-links a span:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 5px;
  width: 10px;
  height: 11px;
  background: url("../images/arrow-right.png") no-repeat;
}

.home-b-links article {
  float: left;
  width: 36.5%;
  min-height: 142px;
  margin-left: 3.5%;
  padding: 2em 5%;
  background-color: #fff;
}

.home-b-links article:first-child {
  margin-left: 0;
  margin-right: 3.5%;
}

.home-b-links article h3 {
  font: 2.4em 'Aaux ProBold', sans-serif;
  text-transform: uppercase;
  color: #048f99;
  margin: 0 0 0.5em;
}

.home-b-links article h4 {
  font: 700 1.2em 'Roboto', sans-serif;
  color: #5a5a5e;
  text-transform: uppercase;
  margin-top: 0;
}

.home-b-links article img {
  float: left;
  margin-right: 2em;
}

.home-b-links article div p {
  font: 300 1.2em 'Roboto', sans-serif;
}

.home-b-links article div a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(62,177,179,0.3)), color-stop(1, rgba(6,144,154,0.4)));
  background: -webkit-linear-gradient(left, rgba(62,177,179,0.3) 0%, rgba(6,144,154,0.4) 100%);
  background: -webkit-gradient(linear, top left, top right, from(rgba(62,177,179,0.3)), to(rgba(6,144,154,0.4)));
  background: linear-gradient(left, rgba(62,177,179,0.3) 0%, rgba(6,144,154,0.4) 100%);
  font: 1em 'Aaux ProLight', sans-serif;
  color: #656464;
  padding: 0.8em 1.2em;
  float: left;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.home-b-links article div a:hover {
  background-color: rgba(6,144,154,0.3);
  color: #fff;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

/*
-------------------------------------- */

.page-header h1 {
  float: left;
  margin-top: 0;
  text-transform: uppercase;
  font: 2em 'Aaux ProBold', sans-serif;
  color: #048f99;
}

/* Productos */

.banner {
  position: relative;
}

#product-nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

#product-nav ul {
  padding: 0;
  margin: 0;
}

#product-nav ul li {
  font: 1.2em 'Aaux ProRegular', sans-serif;
  text-transform: uppercase;
  float: left;
  background-color: #78c8ca;
  border-right: 1px solid #3fb2b3;
}

#product-nav ul li.active,
#product-nav ul li:hover {
  background-color: #3fb2b3;
}

#product-nav ul li a {
  color: #fff;
  padding: 0.7em 1.5em;
  text-decoration: none;
  display: block;
}

.sidebar,
.product-content,
.module-content {
  float: left;
}

.sidebar {
  width: 30%;
  margin-right: 5%;
}

.sidebar .sidebar-menu ul {
  margin: 0 0 4em;
  padding: 0;
}

.sidebar .sidebar-menu ul li {
  font: 1.6em 'Aaux ProRegular', sans-serif;
  margin-bottom: 0.5em;
  clear: both;
}

.sidebar .sidebar-menu ul li.active {
  margin-bottom: 0 !important;
}

.sidebar .sidebar-menu ul li.active a {
  background-color: #b1dfe0;
}

.sidebar .sidebar-menu ul li.active a:after {
  content: "";
  position: absolute;
  right: -14px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
}

.sidebar .sidebar-menu ul li a {
  text-decoration: none;
  background-color: #e2f3f3;
  color: #656464;
  line-height: 20px;
  padding: 0.25em 2% 0.25em 8%;
  margin-bottom: 0.2em;
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: #e0811b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .sidebar-menu ul li a:hover {
  background-color: #b1dfe0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .sidebar-menu ul li article {
  display: none;
  padding: 0 0 0.5em 11%;
}

.sidebar .sidebar-menu ul li article a {
  background-color: #e2f3f3 !important;
  padding: 0 1%;
}

.sidebar .sidebar-menu ul li article a:after {
  border: none !important;
}

.sidebar .sidebar-menu ul li article a.active,
.sidebar .sidebar-menu ul li article a:hover {
  background-color: #b1dfe0 !important;
}

.sidebar .sidebar-menu ul li article.active {
  display: block;
}

.products-page .sidebar-menu ul li.active a:after {
  border-left-color: #b1dfe0;
}

.products-page .big-title {
  color: #3db0b2;
}

.products-page .product-content h1,
.products-page .product-content h2 {
  color: #048f99;
}

.product-content {
  width: 63%;
  padding: 0 2% 0 0;
}

.product-content .big-title,
.module-content .big-title {
  margin-top: 0;
  font: 2.9em 'Aaux ProBlack', sans-serif;
}

.product-content h1,
.module-content h1,
.product-content h2,
.module-content h2 {
  font: 2em 'Aaux ProBold', sans-serif;
  margin-top: 0;
}

.product-content p,
.module-content p {
  color: #000;
  line-height: 1.5em;
}

.product-content p {
  font: 300 1.3em 'Roboto', sans-serif;
}

.dwn-sidebar-btn,
.print-btn {
  text-decoration: none;
  font: 300 1.3em 'Roboto', sans-serif;
  color: #000;
  float: right;
  display: block;
  padding-right: 8%;
  height: 23px;
  text-transform: lowercase;
}

.dwn-sidebar-btn {
  background: transparent url("../images/arrow-download-btn.png") no-repeat right center;
}

.print-btn {
  background: transparent url("../images/ico-print-btn.png") no-repeat right top;
}

#tools-search {
  float: right;
  position: relative;
  width: 160px;
}

#tools-search input {
  outline: none;
}

#tools-search input[type="text"] {
  background-color: #e1e1e1;
  border: 2px solid #d1d1d1;
  font: 500 1.1em 'Roboto', sans-serif;
  width: 100%;
  color: #656464;
  padding: 0.45em 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#tools-search input[type="text"]:focus {
  background-color: #f1f1f1;
}

#tools-search input[type="submit"] {
  position: absolute;
  top: 9px;
  right: 7px;
  background: url("../images/ico-mag.png") no-repeat;
  width: 11px;
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.tool-block {
  float: left;
  width: 31.3%;
  margin: 4em 0 0 3%;
}

.tool-block:first-child,
.tool-block:nth-child(4) {
  margin-left: 0;
}

.tool-block:nth-child(1),
.tool-block:nth-child(2),
.tool-block:nth-child(3) {
  margin-top: 0;
}

.tool-block:hover article {
  background-color: #d4e9e9;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.tool-block article {
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e2f3f3;
  overflow: hidden;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.tool-block article img,
.tool-block article div {
  float: left;
}

.tool-block article img {
  border: 1px solid #c1c1c1;
  margin-right: 2%;
}

.tool-block article div {
  position: relative;
  max-width: 162px;
  height: 122px;
}

.tool-block article div h2 {
  font: 1.5em 'Aaux ProBold', sans-serif;
  color: #15595b;
  text-transform: uppercase;
  margin-top: 0;
}

.tool-block article div h2 a {
  position: static;
  text-decoration: none;
  color: #15595b;
}

.tool-block article div p {
  font: 300 1.3em 'Roboto', sans-serif;
  color: #5a5a5e;
}

.tool-block article div span {
  position: absolute;
  left: 0;
  bottom: 0;
}

.tool-block article div span:hover {
  text-decoration: none;
}

.app-link,
.vote-link {
  text-transform: uppercase;
  text-decoration: none;
  font: 500 1em 'Roboto', sans-serif;
  color: #a91b1b;
  float: right;
}

.app-link:hover,
.vote-link:hover {
  text-decoration: underline;
}

.featured-tool:hover article {
  background-color: #f3daca;
}

.featured-tool article {
  background-color: #ffe9db;
}

.product {
  margin-bottom: 2em;
}

.product img {
  float: left;
  border: 1px solid #c1c1c1;
  margin-right: 4%;
}

.product h1 {
  font: 2.2em 'Aaux ProBold', sans-serif;
  color: #15595b;
  text-transform: uppercase;
}

.product h1 span {
  font: 300 16px 'Roboto', sans-serif;
  text-transform: none;
}

.product p {
  font: 300 1.3em 'Roboto', sans-serif;
  color: #000;
}

.go-back-link {
  float: right;
  text-transform: lowercase;
  text-decoration: none;
  font: 1.7em 'Aaux ProRegular', sans-serif;
  color: #5a5a5e;
  padding-bottom: 0.2em;
  border-bottom: 1px solid transparent;
  margin-bottom: 1em;
}

.go-back-link:hover {
  border-bottom: 1px solid #5a5a5e;
}

.pagination {
  float: right;
  margin: 1.8em 0;
}

.pagination a {
  float: left;
  position: relative;
  text-decoration: none;
  color: #5a5a5e;
  font: 1.7em 'Aaux ProRegular', sans-serif;
  margin-left: 15px;
}

.pagination a:hover {
  color: #048f99;
  text-decoration: underline;
}

.pagination a:before {
  content: "·";
  position: absolute;
  left: -9px;
}

.pagination a:first-child:before {
  content: "";
}

/* Formación */

.formacion-blocks article {
  float: left;
  width: 30%;
  min-height: 500px;
  margin-left: 5%;
  background-color: #fff;
  overflow: hidden;
}

.formacion-blocks article:first-child {
  margin-left: 0;
}

.formacion-blocks article h2,
.formacion-blocks article span {
  text-transform: uppercase;
}

.formacion-blocks article header {
  padding: 1em 4%;
  height: 96px;
  max-height: 96px;
}

.formacion-blocks article header h2,
.formacion-blocks article header a {
  color: #fff;
}

.formacion-blocks article header h2 {
  font: 2.7em 'Aaux ProLight', sans-serif;
  margin: 0;
}

.formacion-blocks article header h2 a {
  text-decoration: none;
}

.formacion-blocks article header h2 a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.formacion-blocks article div {
  overflow: hidden;
  padding: 2em 5%;
}

.formacion-blocks article div article {
  width: 100%;
  min-height: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.formacion-blocks article div article span {
  font: 1.6em 'Aaux ProLight', sans-serif;
}

.formacion-blocks article div article h3 {
  font: 2.1em 'Aaux ProBold', sans-serif;
  margin-top: 0;
}

.formacion-blocks article div article h3 a {
  text-decoration: none;
}

.psico-formacion header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #3eb1b3), color-stop(1, #06909a));
  background: -webkit-linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  background: -webkit-gradient(linear, top left, top right, from(#3eb1b3), to(#06909a));
  background: linear-gradient(left, #3eb1b3 0%, #06909a 100%);
}

.psico-formacion article h3 a {
  color: #048f99;
}

.merch-formacion header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff8f00), color-stop(1, #d47300));
  background: -webkit-linear-gradient(left, #ff8f00 0%, #d47300 100%);
  background: -webkit-gradient(linear, top left, top right, from(#ff8f00), to(#d47300));
  background: linear-gradient(left, #ff8f00 0%, #d47300 100%);
}

.merch-formacion article h3 a {
  color: #d37b1c;
}

.sm-formacion header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #00aebf), color-stop(1, #2e60aa));
  background: -webkit-linear-gradient(left, #00aebf 0%, #2e60aa 100%);
  background: -webkit-gradient(linear, top left, top right, from(#00aebf), to(#2e60aa));
  background: linear-gradient(left, #00aebf 0%, #2e60aa 100%);
}

.sm-formacion article h3 a {
  color: #2e60aa;
}

body.modules-page .sidebar .sidebar-menu ul li {
  margin-bottom: 1em;
}

body.modules-page .sidebar .sidebar-menu ul li a {
  color: #fff;
}

body.modules-page .sidebar .sidebar-menu ul li.active a.thick {
  height: 37px;
}

body.modules-page .sidebar .sidebar-menu ul li.active a.thick:after {
  right: -20px;
  border-top: 22px solid transparent !important;
  border-bottom: 23px solid transparent !important;
  border-left-width: 20px !important;
  border-left-style: solid !important;
}

body.modules-page .sidebar .sidebar-menu ul li.active a.thick2 {
  height: 57px;
}

body.modules-page .sidebar .sidebar-menu ul li.active a.thick2:after {
  right: -30px;
  border-top: 32px solid transparent !important;
  border-bottom: 33px solid transparent !important;
  border-left-width: 30px !important;
  border-left-style: solid !important;
}

body.modules-page .sidebar .sidebar-menu ul li.active a:after {
  right: -14px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
}

body.modules-page .sidebar .sidebar-menu ul li article {
  padding-left: 0;
}

body.modules-page .sidebar .sidebar-menu ul li article a:first-child {
  margin-top: 0.5em;
}

body.modules-page .sidebar .sidebar-menu ul li article a.active.thick {
  height: 37px;
  padding-top: 0.25em;
  padding-right: 2%;
  padding-bottom: 0.25em;
}

body.modules-page .sidebar .sidebar-menu ul li article a.active.thick:after {
  right: -20px;
  border-top: 22px solid transparent !important;
  border-bottom: 23px solid transparent !important;
  border-left-width: 20px !important;
  border-left-style: solid !important;
}

body.modules-page .sidebar .sidebar-menu ul li article a.active:after {
  right: -14px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
}

body.modules-page .sidebar .sidebar-menu ul li article a:after {
  border-left-color: transparent !important;
}

body.modules-page .sidebar .sidebar-menu ul li article > a {
  padding-left: 8%;
}

body.modules-page .sidebar .sidebar-menu ul li article ol {
  margin-top: 0;
}

body.modules-page .sidebar .sidebar-menu ul li article ol li {
  font-size: 1em;
  list-style: lower-latin;
  margin: 0;
}

body.modules-page .sidebar .sidebar-menu ul li article .dwn-sidebar-btn {
  background-color: transparent !important;
  font-size: 13px;
  padding-right: 8%;
  margin: 1em 0;
}

body.modules-page .sidebar .sidebar-menu ul li article .dwn-sidebar-btn:hover {
  background-color: transparent !important;
}

body.modules-page .module-header {
  margin-bottom: 1em;
}

body.modules-page .module-header h1 {
  font: 2.7em 'Aaux ProLight', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 0.3em;
}

body.modules-page .module-header span,
body.modules-page .module-header h2 {
  margin-left: 7px !important;
}

body.modules-page .module-header span {
  font: 1.6em 'Aaux ProRegular', sans-serif;
  color: #515b53;
  text-transform: uppercase;
}

body.modules-page .module-header h2 {
  font: 2.7em 'Aaux ProRegular', sans-serif;
  margin: 0;
}

.module-merch .module-header h1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff8f00), color-stop(1, #d47300));
  background: -webkit-linear-gradient(left, #ff8f00 0%, #d47300 100%);
  background: -webkit-gradient(linear, top left, top right, from(#ff8f00), to(#d47300));
  background: linear-gradient(left, #ff8f00 0%, #d47300 100%);
  padding: 0.2em 0.5em;
}

.module-merch .module-header h2 {
  color: #d37b1c;
}

.module-merch .sidebar .sidebar-menu ul li a {
  background-color: #f6a600;
}

.module-merch .sidebar .sidebar-menu ul li a.active:after {
  border-left-color: #d47300 !important;
}

.module-merch .sidebar .sidebar-menu ul li a:after {
  border-left-color: #d47300 !important;
}

.module-merch .sidebar .sidebar-menu ul li a:hover {
  background-color: #fb6a0f;
}

.module-merch .sidebar .sidebar-menu ul li.active > a {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff8f00), color-stop(1, #d47300));
  background: -webkit-linear-gradient(left, #ff8f00 0%, #d47300 100%);
  background: -webkit-gradient(linear, top left, top right, from(#ff8f00), to(#d47300));
  background: linear-gradient(left, #ff8f00 0%, #d47300 100%);
}

.module-merch .sidebar .sidebar-menu ul li article a {
  color: #656464;
  background-color: #fdf4e7 !important;
}

.module-merch .sidebar .sidebar-menu ul li article a.active {
  background-color: #f4ca88 !important;
}

.module-merch .sidebar .sidebar-menu ul li article a.active:after {
  border-left-color: #f4ca88 !important;
}

.module-merch .sidebar .sidebar-menu ul li article a.active:hover {
  background-color: #f4ca88 !important;
}

.module-merch .sidebar .sidebar-menu ul li article a:hover {
  background-color: #eee4d5 !important;
}

.module-merch .module-div {
  padding: 2em 0;
}

.module-merch .module-content h2,
.module-merch .module-content h1 {
  color: #d37b1c;
}

.module-content {
  width: 65%;
}

.module-content > div {
  padding-right: 4%;
}

.module-content p {
  font: 300 1.5em 'Roboto', sans-serif;
  line-height: 1.6em;
}

#test-evaluacion div {
  padding: 0.5em 5% 0.5em 2%;
}

#test-evaluacion div p {
  margin-top: 0;
}

#test-evaluacion .even {
  background-color: #fef6e7;
}

#test-evaluacion .odd {
  background-color: #fff;
}

#test-evaluacion fieldset {
  margin-bottom: 1em;
}

#test-evaluacion label {
  font: 1.4em 'Aaux ProBold', sans-serif;
  color: #656464;
  margin-right: 2.5em;
}

#test-evaluacion input[type="submit"] {
  background-color: #be1371;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font: 700 1.6em 'Roboto', sans-serif;
  text-transform: uppercase;
  float: right;
  width: 136px;
  padding: 1em 0;
  text-align: center;
}

.success-msg {
  text-align: center;
  padding-bottom: 3em;
}

.success-msg h2,
.success-msg h3 {
  color: #d37b1c;
}

.success-msg h2 {
  font: 8.1em 'Aaux ProBold', sans-serif;
  margin-bottom: 0;
}

.success-msg h3 {
  font: 4.6em 'Aaux ProBold', sans-serif;
}

.success-msg p {
  font: 300 2.9em 'Roboto', sans-serif;
}

/* Experiencias */

#experiencias-content {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#experiencias-content,
#single-exp-content {
  width: 62%;
  padding: 2em 1.5%;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

#experiencias-content article {
  margin-bottom: 4em;
  position: relative;
}

#experiencias-content article img {
  float: left;
  margin-right: 2em;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

#experiencias-content article img:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

#experiencias-content article h2 {
  font: 1.9em 'Aaux ProBold', sans-serif;
  margin-bottom: 0;
}

#experiencias-content article h2 a {
  color: #048f99;
  text-decoration: none;
}

#experiencias-content article .author {
  color: #8d8d8d;
}

#experiencias-content article p {
  font: 300 1.5em 'Roboto', sans-serif;
  line-height: 1em;
}

#experiencias-content article p .read-more {
  font-size: 0.7em;
  color: #c60000;
  text-decoration: none;
}

#experiencias-content article p .read-more:hover {
  text-decoration: underline;
}

#experiencias-content article .vote-link {
  position: absolute;
  right: 0;
}

.author {
  font: italic 400 1.2em 'Roboto', sans-serif;
}

#experiencias-sidebar {
  float: left;
  width: 36%;
}

.slide-exp {
  padding: 2em 4%;
  margin-bottom: 2.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #3eb1b3), color-stop(1, #06909a));
  background: -webkit-linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  background: -webkit-gradient(linear, top left, top right, from(#3eb1b3), to(#06909a));
  background: linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  position: relative;
  overflow: hidden;
}

.slide-exp h3 {
  font: 2.2em 'Aaux ProLight', sans-serif;
  color: #fff;
  margin: 0 0 0.6em;
}

.slide-exp div {
  position: absolute;
  top: 73px;
  background-color: rgba(33,25,21,0.3);
  padding: 0.5em;
  width: 212px;
}

.slide-exp div a {
  color: #fff;
  text-decoration: none;
}

.slide-exp div h4 {
  font: 1.9em 'Aaux ProBold', sans-serif;
  margin: 0;
}

.slide-exp div .author {
  color: #fff;
}

.slide-exp .pagination {
  margin: 0.8em 0 0;
}

.slide-exp .pagination a {
  color: #fff;
  font-size: 1.2em;
}

.tell-exp h3 {
  font: 2.1em 'Aaux ProBold', sans-serif;
  color: #048f99;
  margin: 0 0 0.2em;
}

.tell-exp p {
  font: 300 1.6em 'Roboto', sans-serif;
  line-height: 1em;
  margin-top: 0;
}

.tell-exp a {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #3eb1b3), color-stop(1, #06909a));
  background: -webkit-linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  background: -webkit-gradient(linear, top left, top right, from(#3eb1b3), to(#06909a));
  background: linear-gradient(left, #3eb1b3 0%, #06909a 100%);
  display: block;
  font: 1.9em 'Aaux ProBold', sans-serif;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  width: 155px;
  text-decoration: none;
}

/* Footer */

#footer {
  background-color: #fff;
  border-top: 2px solid #008e5a;
  min-height: 93px;
  padding-top: 15px;
  overflow: hidden;
}

#footer .wrapper {
  position: relative;
  min-height: 93px;
  overflow: hidden;
}

#footer img {
  float: left;
  margin-left: 5%;
}

#footer .meta {
  position: absolute;
  right: 0;
  bottom: 15px;
}

#footer .meta * {
  float: left;
}

#footer .meta p {
  margin: 0;
}

#footer .meta a {
  text-decoration: none;
  text-transform: lowercase;
  padding-left: 1em;
  color: #5a5a5e;
  font: 1em 'Helvetica', 'Arial', sans-serif;
  position: relative;
  top: 1px;
}

#footer .meta a:before {
  content: "|";
  position: absolute;
  top: 1px;
  left: 4px;
}

#footer .meta a:hover {
  text-decoration: underline;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}