//  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)

@import 'nib'
@import 'nib/gradients'

// Variables

basefont = 400 1em 'Roboto', sans-serif
roboto = 'Roboto', sans-serif
aauxreg = 'Aaux ProRegular', sans-serif
aauxlig = 'Aaux ProLight', sans-serif
aauxbol = 'Aaux ProBold', sans-serif
aauxbla = 'Aaux ProBlack', sans-serif
helvea = 'Helvetica', 'Arial', sans-serif

negropuro = #000
grisoscuro = #333
grismedio = #5a5a5e
grisnormal = #656464
verdenormal = #008b7d
verdeclaro = #048f99

  
html,
button,
input,
select,
textarea
   	color #222

body
    font-size 62.5%
    line-height 1.4
    background-color #f1f1f1

::-moz-selection
    background #b3d4fc
    text-shadow none

::selection
    background #b3d4fc
    text-shadow none

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

img
    vertical-align middle

a
    color #78c8ca

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

.chromeframe
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0

// Author's custom styles

/* @Font-face rules */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,500,500italic,700italic,900,900italic)

@font-face
    font-family 'Aaux ProRegular'
    src url('../fonts/AauxProRegular.eot')
    src url('../fonts/AauxProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AauxProRegular.woff') format('woff'), 
        url('../fonts/AauxProRegular.ttf') format('truetype'), 
        url('../fonts/AauxProRegular.svg') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aaux ProLight'
    src url('../fonts/AauxProLight.eot')
    src url('../fonts/AauxProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AauxProLight.woff') format('woff'), 
        url('../fonts/AauxProLight.ttf') format('truetype'), 
        url('../fonts/AauxProLight.svg') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aaux ProBold'
    src url('../fonts/AauxProBold.eot')
    src url('../fonts/AauxProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AauxProBold.woff') format('woff'), 
        url('../fonts/AauxProBold.ttf') format('truetype'), 
        url('../fonts/AauxProBold.svg') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aaux ProBlack'
    src url('../fonts/AauxProBlack.eot')
    src url('../fonts/AauxProBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AauxProBlack.woff') format('woff'), 
        url('../fonts/AauxProBlack.ttf') format('truetype'), 
        url('../fonts/AauxProBlack.svg') format('svg')
    font-weight normal
    font-style normal

/* End of @Font-face rules*/

//Base styles

.wrapper // Contenedor base.
    width 100%
    max-width 1000px
    margin 0 auto

.wrapper-wide // Contenedor base más ancho.
    width 100%
    max-width 1024px
    margin 0 auto

.row // Div para englobar contenido flotado o no.
    overflow hidden
    margin 3em 0

.off-row // Div para englobar contenido flotado pero que no tiene márgenes ni superior ni inferior.
    overflow hidden

.board-row // Div para englobar contenido flotado que no tiene margen inferior.
    margin-bottom 0

.content // Clase para dar espacios laterales en div's que no dispongan del mismo de base.
    padding 0 2%

.white
    background-color white

/*
-------------------------------------- */

// Main Styles

/* Header styles */

#header-top
    background-color grisnormal
    overflow hidden
    height 40px
    nav
        float right
        margin-top 1.1em
        ul
            margin 0
            padding 0
            li
                font basefont
                color white
                text-transform uppercase
                display inline-block
                position relative
                margin-left 13px
                &:before
                    content "·"
                    position absolute
                    left -11px
                &:first-child
                    &:before
                        content ""                    
                a
                    text-decoration none
                    color white
                    &:hover
                        border-bottom 1px solid rgba(255,255,255,.5)
            .search
                margin-left 20px 
                padding-left 20px
                border-left 3px double white
                &:before
                    content ""

.user-access
    float right
    background linear-gradient(left, #06909a, #3eb1b3)
    overflow hidden
    text-align center
    min-width 164px
    height 40px
    margin-left 5%
    padding 0 2%
    p 
        margin 0
        padding-top .2em
        font normal 1.3em aauxreg
        color white
        text-transform uppercase
        a
            color white
            text-decoration none
    div a
        text-decoration none
        color white
        font 300 .9em roboto
        position relative
        margin-right 10px
        &:after
            content "·"
            position absolute
            right -8px
            top 1px
        &:last-child
            &:after
                content ""
        &:hover
            opacity .8

.main-header
    position relative
    height 75px
    h1
        position absolute
        top -500px
    img
        margin .5em 0 0 12%
    nav
        float right
        a
            float left
            display block
            height 21px
            padding 27px 1.5em
            font 1.4em aauxreg
            text-align center
            text-transform uppercase
            text-decoration none
            color grisnormal
            border-left 1px solid #c1c1c1
            &:hover
                background-color #f7fafa
            &.active
                font-family aauxbla
                color verdenormal
/*
-------------------------------------- */

.bxslider
    margin 0
    padding 0
    li
        position relative
        .caption
            position absolute
            left 15px
            bottom 15px
            max-width 320px
            h2
                font 2.1em aauxreg
                color #008b7d
                margin 0
                text-transform uppercase
            p
                font 300 1.3em roboto
                color grismedio
                margin 0

/* Home */

.home-products
    margin-top 1em
    article
        float left
        width 29%
        height 272px
        margin 10px 0 0 6.5%
        background-color white
        position relative
        &:before
            content ""
            position absolute
            width 100%
            background linear-gradient(left, #3eb1b3, #06909a)
            height 10px
            top -10px
        &:first-child
            margin-left 0
        &:nth-child(2)
            a:nth-child(2)
                padding-top .4em !important
                height 39px
                span:after
                    top 15px
                    right 10px
        .block-content
            padding: 1em 2em;
            background-repeat no-repeat
            background-position 110% bottom
            p             
                font 300 1.2em roboto
                color grismedio
                max-width 70%
                a
                    text-decoration none
                    color #3eb1b3
            &.vytorin-homeblock
                background-image url('../images/productos/bg-vytorin-block.png')
            &.exxiv-homeblock
                background-image url('../images/productos/bg-exxiv-block.png')
            &.thymanax-homeblock
                background-image url('../images/productos/bg-thymanax-block.png')
.block-links
    position absolute
    bottom .5em
    width 100%
    a
        display block
        width 95%
        background linear-gradient(left, rgba(62,177,179,.3), rgba(6,144,154,.4))
        color grisnormal
        text-decoration none
        text-transform uppercase
        font 1.55em aauxlig
        margin-bottom .5em
        padding .2em 0 .2em 5%
        transition all 250ms ease-in-out
        &:hover
            background-color rgba(6,144,154,.3)
            transition all 250ms ease-in-out
        &:nth-child(2)
            height 30px
            padding-top 15px
        span
            position relative
            display inline-block
            &:after
                content ""
                position absolute
                right -15px
                top 5px
                width 10px
                height 11px
                background url('../images/arrow-right.png') no-repeat

.home-b-links
    article
        float left
        width 36.5%
        min-height 142px
        margin-left 3.5%
        padding 2em 5%
        background-color white
        &:first-child
            margin-left 0
            margin-right 3.5%
        h3
            font 2.4em aauxbol 
            text-transform uppercase
            color verdeclaro
            margin 0 0 .5em
        h4
            font 700 1.2em roboto
            color grismedio
            text-transform uppercase
            margin-top 0
        img
            float left
            margin-right 2em
        div
            p
                font 300 1.2em roboto
            a
                display block
                text-decoration none
                text-transform uppercase
                background linear-gradient(left, rgba(62,177,179,.3), rgba(6,144,154,.4))
                font 1em aauxlig
                color grisnormal
                padding .8em 1.2em
                float left
                transition all 250ms ease-in-out
                &:hover
                    background-color rgba(6,144,154,.3)
                    color white
                    transition all 250ms ease-in-out
/*
-------------------------------------- */

.page-header
    h1
        float left
        margin-top 0
        text-transform uppercase
        font 2em aauxbol
        color verdeclaro

/* Productos */

.banner
    position relative
#product-nav
    position absolute
    bottom 0
    left 0
    ul
        padding 0
        margin 0
        li
            font 1.2em aauxreg
            text-transform uppercase
            float left
            background-color #78c8ca
            border-right 1px solid #3fb2b3
            &.active, &:hover
                background-color #3fb2b3
            a
                color white
                padding .7em 1.5em
                text-decoration none
                display block

.sidebar, .product-content, .module-content
    float left
.sidebar
    width 30%
    margin-right 5%
    .sidebar-menu ul
        margin 0 0 4em
        padding 0
        li
            font 1.6em aauxreg
            margin-bottom .5em
            clear both
            &.active
                margin-bottom 0 !important            
            &.active a
                background-color #b1dfe0
                &:after
                    content ""
                    position absolute
                    right -14px
                    top 0
                    width 0
                    height 0
                    border-top 14px solid transparent
                    border-bottom 14px solid transparent                    
                    border-left-width 14px
                    border-left-style solid
            a
                text-decoration none
                background-color #e2f3f3
                color grisnormal
                line-height 20px
                padding .25em 2% .25em 8%
                margin-bottom .2em
                display block
                position relative
                -webkit-touch-callout none
                -webkit-tap-highlight-color #e0811b
                transition all .5s ease                
                &:hover
                    background-color #b1dfe0
                    transition all .5s ease-in-out
            article
                display none
                padding 0 0 .5em 11%
                a
                    background-color #e2f3f3 !important
                    padding 0 1%
                    &:after
                        border none !important
                    &.active, &:hover
                        background-color #b1dfe0 !important
                &.active
                    display block
.products-page
    .sidebar-menu ul li
        &.active a
            &:after
                border-left-color #b1dfe0
    .big-title
        color #3db0b2
    .product-content
        h1,h2
            color verdeclaro                
.product-content
    width 63%
    padding 0 2% 0 0
.product-content, .module-content    
    .big-title
        margin-top 0
        font 2.9em aauxbla
    h1, h2
        font 2em aauxbol        
        margin-top 0
    p
        color negropuro
        line-height 1.5em
.product-content p        
    font 300 1.3em roboto

.dwn-sidebar-btn, .print-btn
    text-decoration none
    font 300 1.3em roboto
    color negropuro
    float right
    display block
    padding-right 8%
    height 23px
    text-transform lowercase
.dwn-sidebar-btn
    background transparent url('../images/arrow-download-btn.png') no-repeat right center
.print-btn
    background transparent url('../images/ico-print-btn.png') no-repeat right top

#tools-search
    float right
    position relative
    width 160px
    input
        outline none
    input[type="text"]
        background-color #e1e1e1
        border 2px solid #d1d1d1
        font 500 1.1em roboto
        width 100%
        color grisnormal        
        padding .45em 3%
        box-sizing border-box
        &:focus
            background-color #f1f1f1
    input[type="submit"]
        position absolute
        top 9px
        right 7px
        background url('../images/ico-mag.png') no-repeat
        width 11px
        height 12px
        appearance none
        border none
.tool-block
    float left
    width 31.3%
    margin 4em 0 0 3%
    &:first-child, &:nth-child(4)
        margin-left 0
    &:nth-child(1), &:nth-child(2), &:nth-child(3)
        margin-top 0
    &:hover article
        background-color #d4e9e9
        transition background-color 250ms ease-in-out
    article
        padding .5em
        box-sizing border-box
        background-color #e2f3f3
        overflow hidden
        transition background-color 250ms linear
        img, div
            float left
        img
            border 1px solid #c1c1c1
            margin-right 2%
        div
            position relative
            max-width 162px
            height 122px
            h2
                font 1.5em aauxbol
                color #15595B
                text-transform uppercase
                margin-top 0
                a
                    position static
                    text-decoration none
                    color #15595b
            p
                font 300 1.3em roboto
                color grismedio
            span
                position absolute
                left 0
                bottom 0
                &:hover
                    text-decoration none
.app-link, .vote-link
    text-transform uppercase
    text-decoration none
    font 500 1em roboto
    color #a91b1b
    float right
    &:hover
        text-decoration underline
    
.featured-tool
    &:hover article
        background-color #f3daca
    article
        background-color #ffe9db


.product
    margin-bottom 2em
    img
        float left
        border 1px solid #c1c1c1
        margin-right 4%
    h1
        font 2.2em aauxbol
        color #15595b
        text-transform uppercase
        span
            font 300 16px roboto
            text-transform none
    p
        font 300 1.3em roboto
        color negropuro
.go-back-link    
    float right
    text-transform lowercase
    text-decoration none
    font 1.7em aauxreg
    color grismedio
    padding-bottom .2em
    border-bottom 1px solid transparent
    margin-bottom 1em
    &:hover
        border-bottom 1px solid grismedio
.pagination
    float right
    margin 1.8em 0
    a
        float left
        position relative
        text-decoration none
        color grismedio
        font 1.7em aauxreg
        margin-left 15px
        &:hover
            color verdeclaro
            text-decoration underline
        &:before
            content "·"
            position absolute
            left -9px
        &:first-child:before
            content ""

/* Formación */

.formacion-blocks    
    article
        float left
        width 30%
        min-height 500px   
        margin-left 5%        
        background-color white
        overflow hidden
        &:first-child
            margin-left 0
        h2, span
            text-transform uppercase
        header
            padding 1em 4%
            height 96px
            max-height 96px
            h2, a
                color white
            h2
                font 2.7em aauxlig
                margin 0
                a
                    text-decoration none
                    &:hover
                        opacity .9
        div
            overflow hidden
            padding 2em 5%
            article
                width 100%
                min-height 0
                margin 0
                box-sizing border-box
                span
                    font 1.6em aauxlig
                h3
                    font 2.1em aauxbol
                    margin-top 0
                    a                        
                        text-decoration none
.psico-formacion    
    header
        background linear-gradient(left, #3eb1b3, #06909a)
    article
        h3
            a
                color verdeclaro
.merch-formacion
    header
        background linear-gradient(left, #ff8f00, #d47300)
    article
        h3
            a
                color #d37b1c
.sm-formacion
    header
        background linear-gradient(left, #00aebf, #2e60aa)
    article
        h3
            a
                color #2e60aa
body.modules-page
    .sidebar
        .sidebar-menu ul li
            margin-bottom 1em
            a
                color white
            &.active a
                &.thick
                    height 37px
                    &:after
                        right -20px
                        border-top 22px solid transparent !important
                        border-bottom 23px solid transparent !important
                        border-left-width 20px !important
                        border-left-style solid !important
                &.thick2
                    height 57px
                    &:after
                        right -30px
                        border-top 32px solid transparent !important
                        border-bottom 33px solid transparent !important
                        border-left-width 30px !important
                        border-left-style solid !important
                &:after
                    right -14px
                    border-top 14px solid transparent   
                    border-bottom 14px solid transparent
                    border-left-width 14px
                    border-left-style solid
            article
                padding-left 0                            
                a
                    &:first-child
                        margin-top .5em
                    &.active
                        &.thick
                            height 37px
                            padding-top .25em 
                            padding-right 2%
                            padding-bottom .25em
                            &:after
                                right -20px
                                border-top 22px solid transparent !important 
                                border-bottom 23px solid transparent !important
                                border-left-width 20px !important
                                border-left-style solid !important
                        &:after
                            right -14px
                            border-top 14px solid transparent   
                            border-bottom 14px solid transparent
                            border-left-width 14px
                            border-left-style solid
                    &:after
                        border-left-color transparent !important
                > a
                    padding-left 8%
                ol
                    margin-top 0
                    li
                        font-size 1em
                        list-style lower-latin
                        margin 0
                .dwn-sidebar-btn
                    background-color transparent !important
                    font-size 13px
                    padding-right 8%
                    margin 1em 0
                    &:hover
                        background-color transparent !important
    .module-header
        margin-bottom 1em
        h1
            font 2.7em aauxlig
            text-transform uppercase
            color white
            margin 0 0 .3em
        span, h2
            margin-left 7px !important
        span
            font 1.6em aauxreg
            color #515B53
            text-transform uppercase
        h2
            font 2.7em aauxreg
            margin 0
                                    
.module-merch
    .module-header 
        h1
            background linear-gradient(left, #ff8f00, #d47300)
            padding .2em .5em
        h2
            color #d37b1c

    .sidebar
        .sidebar-menu ul li 
            a
                background-color #f6a600                
                &.active                
                    &:after                                           
                        border-left-color #d47300 !important    
                &:after
                    border-left-color #d47300 !important
                &:hover
                    background-color #fb6a0f
            &.active > a
                    background linear-gradient(left, #ff8f00, #d47300)
            article
                a
                    color grisnormal
                    background-color #fdf4e7 !important
                    &.active
                        background-color #f4ca88 !important
                        &:after
                            border-left-color #f4ca88 !important
                        &:hover
                            background-color #f4ca88 !important
                    &:hover
                        background-color #eee4d5 !important
    .module-div
        padding 2em 0
    .module-content
        h2, h1
            color #d37b1c

.module-content
    width 65%
    > div
        padding-right 4%
    p
        font 300 1.5em roboto
        line-height 1.6em

#test-evaluacion
    div
        padding .5em 5% .5em 2%
        p
            margin-top 0
    .even
        background-color #fef6e7
    .odd
        background-color white
    fieldset
        margin-bottom 1em
    label
        font 1.4em aauxbol
        color grisnormal
        margin-right 2.5em
    input[type="submit"]
        background-color #be1371
        color white
        appearance none
        border none
        font 700 1.6em roboto
        text-transform uppercase
        float right
        width 136px
        padding 1em 0
        text-align center

.success-msg
    text-align center
    padding-bottom 3em
    h2, h3
        color #d37b1c
    h2
        font 8.1em aauxbol
        margin-bottom 0
    h3
        font 4.6em aauxbol
    p
        font 300 2.9em roboto

/* Experiencias */

#experiencias-content
    max-height 450px
    overflow-y scroll
    overflow-x hidden
#experiencias-content, #single-exp-content
    width 62%
    padding 2em 1.5%
    margin-right 2%
    box-sizing border-box
    float left    
#experiencias-content     
    article
        margin-bottom 4em
        position relative
        img
            float left
            margin-right 2em
            transition opacity 250ms linear
            &:hover
                opacity .9
                transition opacity 250ms ease-in-out
        h2
            font 1.9em aauxbol
            margin-bottom 0
            a
                color verdeclaro
                text-decoration none
        .author
            color #8D8D8D
        p
            font 300 1.5em roboto
            line-height 1em
            .read-more
                font-size .7em                
                color #c60000
                text-decoration none
                &:hover
                    text-decoration underline
        .vote-link
            position absolute
            right 0

.author
    font italic 400 1.2em roboto

#experiencias-sidebar
    float left
    width 36%    

.slide-exp
    padding 2em 4%
    margin-bottom 2.2em
    box-sizing border-box
    background linear-gradient(left, #3eb1b3, #06909a)
    position relative
    overflow hidden
    h3
        font 2.2em aauxlig
        color white
        margin 0 0 .6em
    div
        position absolute
        top 73px
        background-color rgba(33,25,21,.3)
        padding .5em 
        width 212px
        a
            color white
            text-decoration none
        h4            
            font 1.9em aauxbol
            margin 0
        .author
            color white
    .pagination
        margin .8em 0 0
        a
            color white
            font-size 1.2em

.tell-exp
    h3
        font 2.1em aauxbol
        color verdeclaro
        margin 0 0 .2em
    p
        font 300 1.6em roboto
        line-height 1em
        margin-top 0
    a
        background linear-gradient(left, #3eb1b3, #06909a)
        display block
        font 1.9em aauxbol
        color white
        padding .5em 
        text-align center
        width 155px
        text-decoration none
/* Footer */

#footer
    background-color white
    border-top 2px solid #008e5a
    min-height 93px
    padding-top 15px
    overflow hidden
    .wrapper
        position relative
        min-height 93px
        overflow hidden
    img
        float left
        margin-left 5%
    .meta
        position absolute
        right 0
        bottom 15px
        *
            float left
        p
            margin 0
        a
            text-decoration none
            text-transform lowercase
            padding-left 1em
            color grismedio            
            font 1em helvea
            position relative
            top 1px
            &:before
                content "|"
                position absolute
                top 1px
                left 4px
            &:hover
                text-decoration underline
.clearfix
    clearfix()

//  Print styles

@media print
    * 
        background transparent !important
        color #000 !important // Black prints faster: h5bp.com/s
        box-shadow none !important
        text-shadow none !important

    a,
    a:visited
        text-decoration underline

    a[href]:after
        content " (" attr(href) ")"

    abbr[title]:after
        content " (" attr(title) ")"

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after
        content ""

    pre,
    blockquote
        border 1px solid #999
        page-break-inside avoid

    thead
        display table-header-group // h5bp.com/t

    tr,
    img
        page-break-inside avoid

    img
        max-width 100% !important

    @page
        margin 0.5cm

    p,
    h2,
    h3
        orphans 3
        widows 3

    h2,
    h3
        page-break-after avoid