{% extends "RoviFrontendBundle::layout.html.twig" %}

{% block body %}

Producto COD => {{ product.code }}<br/>
Nombre => {{ product.name }}<br/><br/>
Descripción => {{ product.descripcion }}<br/>

{% endblock %}